.footer
    position absolute
    paddingLeftRight(60px)
    top calc(100vh - 80px)
    left 0
    right 0
    height 80px
    flex 0 0 80px
    background $white
    z-index 10
    &-nav
    &-finished
        display none
        width 100%
        marginLeftRight(auto)
        text-align center
        &[active]
            display block
    &-nav
        max-width 600px
    &-wrapper
        display flex
        height 100%
        max-width 1200px
        marginLeftRight(auto)
        align-items center
        .button.hide
            opacity 0
