.footer
    position absolute
    bottom 0
    left 0
    right 0
    height 80px
    // marginLeftRight(100px)
    flex 0 0 80px
    background $white
    z-index 10
    &-nav
        max-width 600px
        width 100%
        marginLeftRight(auto)
    &-wrapper
        display flex
        height 100%
        max-width 1200px
        marginLeftRight(auto)
        align-items center
