.footer
    position relative
    display flex
    height 100%
    align-items center
    flex 0 0 100px
    &-nav
        max-width 600px
        width 100%
        marginLeftRight(auto)
    &-act
        position absolute
        &--next
            right 0
        &--prev
            left 0