.order-pipline
    display flex
    height 100%
    transition all .5s ease

.page-block
    position relative
    marginLeftRight(60px)
    height 100%
    z-index 0
    transition all .5s ease
    &__title
        marginTopBottom(20px, 40px)
        Montserrat()
        font-weight 300
        font-size $fontTitle
        text-align center
        line-height 120%
    &__body
        margin-top 80px
        display none
        &.active
            display block
        .row
            display flex
            flex-wrap wrap
            &--card-items
                justify-content space-between
                .col
                    margin-bottom 120px
                    flex 0 0 (100/2)%
            &--card-delivery
            &--card-payment
                justify-content space-between
                .col
                    margin-bottom 120px
                    flex 1 0 (100/3)%
            .col
                paddingLeftRight(15px)
            

        