.button
    display inline-block
    text-transform uppercase
    line-height 32px
    paddingLeftRight(24px)
    border 1px solid $greyMain
    border-radius 2px
    transition all .2s ease
    cursor pointer
    background $greyMain
    color $white
    outline none
    &.button--outline
        background $white
        color $black
        &:hover
            background $greyMain
            color $white
            &.button--del
                background $red
            &.button--success
                background $green
    &--del
        border-color $red
        background $red
    &--success
        border-color $green
        background $green


.busket
    display inline-block
    position relative
    cursor pointer
    &-point
        position absolute
        right 10px
        bottom 4px
        color $white
        font-size $fontSubtitle
        Montserrat()



.pagination-proccess
    display flex
    justify-content space-between
    align-items center
    &__line
        flex-grow 1
        display inline-block
        height 1px
        marginLeftRight(20px)
        background $greyMain
    &__item
        display inline-block
        flex-grow 0
        flex-basis 1
        height 20px
        width 20px
        border-radius 2px
        border 1px solid $greyMain
        transform rotate(45deg)
        transform-origin center
        cursor pointer
        transition all .5s ease
        // &:not(:last-child):after
        //     content ''
        //     display inline-block
        //     flex-grow 1
        //     height 1px
        //     width 100%
        //     background $greyMain
        &.active
            background $greyMain


.user-card
    max-width 460px
    width 100%
    marginLeftRight(auto)
    &__info
        &:not(:last-of-type)
            padding-bottom 25px
            border-bottom 1px solid $greyLight
        &:not(:first-child)
            paddingTopBottom(25px)
        .item
            Montserrat()
            display flex
            align-items center
            &-property
                flex 0 0 50%
                &--fio
                &--address
                    font-size $fontSubtitle
                &--address
                    padding-bottom 25px
            &-value
                flex-grow 1
                &--empty
                    display flex
                    &:before
                        content ''
                        display inline-block
                        max-width 20px
                        width 100%
                        height 1px
                        background $greyMain 
            &-edit
                flex 0 0 auto
                margin-left auto
                cursor pointer
                transition all .2s ease
                path:first-child
                    fill $greyLight
                    &:hover
                        fill $greyMain
            &:not(:last-child)
                margin-bottom 10px
    &__action
        padding-top 35px
