@import 'utils/fonts.styl'
@import 'utils/mixins.styl'
@import 'utils/reset.styl'

@import 'comps/header.styl'
@import 'comps/footer.styl'
@import 'comps/page_block.styl'
@import 'comps/ui_kit.styl'


*
    font-family Montserrat

.LAYOUT-APP
    display flex
    max-height 100vh
    height 100vh
    paddingLeftRight(60px)
    flex-direction column
    overflow hidden

.body-custom-lenta
    position relative
    flex-grow 1
    overflow hidden