marginLeftRight($left, $right = $left)
    margin-left $left
    margin-right $right

marginTopBottom($top, $bottom = $top)
    margin-top $top
    margin-bottom $bottom

paddingLeftRight($left, $right = $left)
    padding-left $left
    padding-right $right

paddingTopBottom($top, $bottom = $top)
    padding-top $top
    padding-bottom $bottom

Montserrat()
    font-family Montserrat