/* FONT SIZES */
$fontTitle = 36px
$fontSubtitle = 18px
$fontText = 14px
$fontSubscr = 12px

/* COLORS */
$greyMain = #282828
$greyLight = #CCCCCC
$white = #FFFFFF
$black = #141414
$red = #EA6C64
$green = #4EB78D